    <div id="aboutwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/aboutwrap -->
	
	<div class="container">
		<div class="row centered mt mb">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>JOEL PATTERSON</h2>
				<p>I am a highly motivated and energetic healthcare journalist.I aim to combine my passion for service through medicine with the power of journalism to create change around the world.It is essential that I educate and inform individuals of varying backgronds,especially the underserved on complex health topics.Using a narrative story telling style,readers of my work will not only understand the issues at hand, but the impact these issue have on the average person's daily life.</p>
				<p>In addition to health care topics, my interest also include fashion. </p>
				<p>Join me as I endeavor to create change in the field of healthcare and give Americans the quality of care that they deserve.</p>
			</div>

		</div><! --/row -->
	</div><! --/container -->
	